.bannerBackgroundIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 474px;
    object-fit: cover;
}
.panelChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-7xs);
    width: 1200px;
    height: 426px;
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-9xs);
    width: 87px;
    height: 37px;
}
.phiuLu {
    position: absolute;
    top: 8px;
    left: 11px;
    display: inline-block;
    width: 73px;
    height: 13px;
}
.vectorParent {
    position: absolute;
    top: 2px;
    left: 117px;
    width: 87px;
    height: 37px;
}
.action {
    position: absolute;
    top: 9px;
    left: 23px;
    display: inline-block;
    width: 54px;
    height: 13px;
}
.vectorGroup {
    position: absolute;
    top: 2px;
    left: 232px;
    width: 87px;
    height: 37px;
}
.vectorContainer {
    position: absolute;
    top: 0px;
    left: 354px;
    width: 87px;
    height: 37px;
}
.matureAr {
    position: absolute;
    top: 7px;
    left: 13px;
    display: inline-block;
    width: 77px;
    height: 24px;
}
.groupDiv {
    position: absolute;
    top: 2px;
    left: 602px;
    width: 90px;
    height: 37px;
}
.manga {
    position: absolute;
    top: 11px;
    left: calc(50% - 22.5px);
    display: inline-block;
    width: 51px;
    height: 13px;
}
.vectorParent1 {
    position: absolute;
    top: 2px;
    left: 476px;
    width: 87px;
    height: 37px;
}
.vectorParent2 {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 87px;
    height: 37px;
}
.thLoi {
    position: absolute;
    top: 213px;
    left: 367px;
    width: 692px;
    height: 39px;
    color: var(--color-dimgray);
}
.tmTtChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid #32cc66;
    box-sizing: border-box;
    width: 1px;
    height: 54px;
}
.xemThm {
    color: #2f48c6;
}
.taiyouAsanoLContainer {
    position: absolute;
    top: 2px;
    left: 26px;
    display: inline-block;
    width: 757px;
    height: 44px;
}
.tmTt {
    position: absolute;
    top: 136px;
    left: 332px;
    width: 783px;
    height: 53px;
}
.tn {
    position: absolute;
    top: 22px;
    left: 342px;
    font-size: 30px;
    display: inline-block;
    width: 402px;
    height: 32px;
}
.anhUChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-7xs);
    width: 266px;
    height: 404px;
    object-fit: cover;
}
.yuThchChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-7xs);
    width: 109px;
    height: 31px;
}
.vectorIcon {
    position: absolute;
    height: 63.89%;
    width: 25.53%;
    top: 22.22%;
    right: 74.47%;
    bottom: 13.89%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.yuThch2 {
    position: absolute;
    top: 0px;
    left: 31px;
    display: inline-block;
    width: 63px;
    height: 18px;
}
.yuThch1 {
    position: absolute;
    height: 58.06%;
    width: 86.24%;
    top: 19.35%;
    right: 6.42%;
    bottom: 22.58%;
    left: 7.34%;
}
.yuThch {
    position: absolute;
    top: 357px;
    left: 140px;
    width: 109px;
    height: 31px;
}
.chiaS2 {
    position: absolute;
    top: 0px;
    left: 31px;
    display: inline-block;
    width: 68px;
    height: 20px;
}
.evafacebookFillIcon {
    position: absolute;
    width: calc(100% - 75px);
    top: 1px;
    right: 75px;
    left: 0px;
    max-width: 100%;
    overflow: hidden;
    height: 18.4px;
}
.chiaS1 {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 99px;
    height: 20px;
}
.chiaS {
    position: absolute;
    top: 356px;
    left: 22px;
    width: 109px;
    height: 31px;
    font-size: 15px;
}
.anhU {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 266px;
    height: 404px;
}
.anhBa {
    position: absolute;
    top: 11px;
    left: 19px;
    width: 266px;
    height: 404px;
    color: var(--color-white);
}
.haS1 {
    position: absolute;
    top: 0px;
    left: 0px;
}
.angCpNht {
    position: absolute;
    top: 0px;
    left: 118px;
    font-weight: 700;
    color: var(--color-royalblue);
    text-decoration: none;
}
.haS {
    position: absolute;
    top: 0px;
    left: 265px;
    width: 213px;
    height: 19px;
}
.angCpNht1 {
    position: absolute;
    top: 0px;
    left: 99px;
    font-weight: 700;
    color: var(--color-royalblue);
    text-decoration: none;
}
.nhmDch {
    position: absolute;
    top: 34px;
    left: 0px;
    width: 194px;
    height: 19px;
}
.tcGi {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 194px;
    height: 19px;
}
.trngThi1 {
    position: absolute;
    top: 1px;
    left: 0px;
}
.angTinHnh {
    position: absolute;
    top: 0px;
    left: 127px;
    font-weight: 700;
    color: var(--color-royalblue);
    text-decoration: none;
}
.trngThi {
    position: absolute;
    top: 0px;
    left: 549px;
    width: 227px;
    height: 20px;
}
.b {
    position: absolute;
    top: 0px;
    left: 118px;
}
.ltXem {
    position: absolute;
    top: 34px;
    left: 265px;
    width: 164px;
    height: 19px;
}
.b1 {
    position: absolute;
    top: 0px;
    left: 127px;
}
.theoDi {
    position: absolute;
    top: 34px;
    left: 549px;
    width: 144px;
    height: 19px;
}
.gioiThiu {
    position: absolute;
    top: 70px;
    left: 338px;
    width: 776px;
    height: 53px;
}
.panel {
    position: absolute;
    top: 24px;
    left: 109px;
    width: 1200px;
    height: 426px;
}
.ba {
    width: 100%;
    position: relative;
    height: 474px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-nunito);
}

